{% extends 'base.html.twig' %}

{% block main %}
    <h1>Se connecter</h1>

    <form action="{{ path('') }}" method="post">
        <div>
            <label for="username">Identifiant: </label>
            <input type="text" id="username" name="_username" value="{{  }}" />
        </div>
        <div>
            <label for="password">Mot de passe: </label>
            <input type="password" id="password" name="_password" />
        </div>
        <div>
            <button type="submit">Connexion</button>

            <input type="checkbox" id="souvenir" name="souvenir" checked>
            <label for="souvenir">Se souvenir de moi</label>
            <a href=""><text x="" y="">Mot de passe oublié</text></a>
        </div>
    </form>
{% endblock %}

{% block title %}Se connecter | {{ parent() }}{% endblock %}