{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier mon profil
{% endblock %}

{% block main %}
    <h1>Modifier mon profil | {{ participant.pseudo }}</h1>
    {% include("includes/profile-form.html.twig") %}
{% endblock %}