{% extends 'base.html.twig' %}

{% block main %}
    <h1>Créer/Éditer une sortie</h1>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button type="submit">Enregistrer</button>
    {% if sortie is defined %}
    <button type="submit" name="delete">Supprimer</button>
    {% endif %}
    <button type="reset">Annuler</button>
    {{ form_end(sortieForm) }}
{% endblock %}

{% block title %}Mon profil | {{ parent() }}{% endblock %}