<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand home" href="#">Sortir.com</a>
    {# @todo: Only display the navigation links if an user is logged in. #}
    <ul class="navbar-nav ml-auto d-none d-sm-flex">
        {# @todo: Only display "Villes" and "Campus" if the current user has ROLE_ADMIN. #}
        <li class="nav-item">
            <a class="nav-link" href="#">Villes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Campus</a>
        </li>
        {#  #}
        <li class="nav-item">
            <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mon Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Se déconnecter</a>
        </li>
    </ul>
    {#  #}
</nav>