<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand home" href="#">Sortir.com</a>
    {% if app.user %}
    <ul class="navbar-nav ml-auto d-none d-sm-flex">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path("app_register") }}">Enregistrer un nouvel utilisateur</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path("villes_display") }}">Villes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path("campus_display") }}">Campus</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mon Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path("app_logout") }}">Se déconnecter</a>
        </li>
    </ul>
    {% endif %}
</nav>