{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Villes{% endblock %}

{% block main %}
    <h1>Gérer les villes</h1>
    <h2>Filtrer les villes</h2>
    <div id="table"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include("./includes/react-jsx.html.twig") %}
    <script type="text/babel" src="{{ asset("jsx-react/Ville.js") }}"></script>
{%  endblock %}